<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://mrpowerup82.github.io/" version="1.0.0" viewmodes="maximized">
    <tizen:application id="zsbUpnsUL8.BasicUI" package="zsbUpnsUL8" required_version="5.5"/>
    <author href="https://mrpowerup82.github.io/">MrPowerUp82</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Omnitrix</name>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:profile name="wearable"/>
</widget>
